name: Build and Test

on: push

permissions:
  contents: read

jobs:
  format-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: "npm"
      - name: Install Dependencies
        run: npm ci
      - name: Check Code Formatting
        run: npm run format:check

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: "npm"
      - name: Install Dependencies
        run: npm ci
      - name: Run Lint
        run: npm run lint

  build:
    runs-on: ubuntu-latest

    env:
      AZURE_OPENAI_API_KEY: 0123456789abcdef
      AZURE_OPENAI_RESOURCE_NAME: oai-example-dev-001
      CRON_API_TOKEN: any-value-will-do-at-build-time
      DATABASE_URL: file:/tmp/database.sqlite
      OPENAI_API_KEY=: any-value-will-do-at-build-time
      OPENAI_API_URL=: http://localhost

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: "npm"
      - name: Install Dependencies
        run: npm ci
      - name: Generate Prisma Client and create database file
        run: npx prisma generate && npx prisma db push
      - name: Run Build
        run: npm run build

  render-helm-chart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Render Helm Chart
        uses: WyriHaximus/github-action-helm3@v3
        with:
          exec: |
            helm template briefing-officer helm-chart \
            --set httpRoute.enabled=true
